.card-img-top {
    width: 100%;
    object-fit: contain;
    max-width: 194px;
    max-height: 142px;
}

.img-flag {
    width: 20px;
    height: 20px;
    margin-top: -5px;
}

.vertical-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
}

h1 {
    font-weight: 800;
    letter-spacing: -.025em;
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 10px;
    padding-top: 10px;
}

.card-body {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.25rem;
    }

    .card-img-top {
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .col-lg-2 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    padding: 10px;
}
